<!DOCTYPE html>
<html>
    <style>
        
    </style>
    <head>
        <title>Get Ingredients</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <%- include('header.ejs')%>
        <h1>Add the necessary ingredients for: <%= recipe %> to the mixing bowl</h1>

        <h2>Available Ingredients</h2>
                
        <section>
            <script>
                
            </script>
            <div class="dropzone" id="mixingBowl" style="display: block;">
                <img src="/images/mixing.gif" alt="Mixing Bowl Image" style="display: block;">
            </div>

            <div id="draggable-ingredient1">
                <p class="draggable" draggable="true" style="margin: 10px;" data-id="<%= ingredients[requiredIngredients[0]].id %>"><%= ingredients[requiredIngredients[0]].name %></p>
            </div>

            <div id="draggable-ingredient2">
                <p class="draggable" draggable="true" style="margin: 10px;" data-id="<%= ingredients[requiredIngredients[1]].id %>"><%= ingredients[requiredIngredients[1]].name %></p>
            </div>

            <div id="draggable-ingredient3">
                <p class="draggable" draggable="true" style="margin: 10px;" data-id="<%= ingredients[requiredIngredients[2]].id %>"><%= ingredients[requiredIngredients[2]].name %></p>
            </div>

            <div id="draggable-ingredient4">
                <p class="draggable" draggable="true" style="margin: 10px;" data-id="<%= ingredients[requiredIngredients[3]].id %>"><%= ingredients[requiredIngredients[3]].name %></p>
            </div>

            <div id="draggable-ingredient5">
                <p class="draggable" draggable="true" style="margin: 10px;" data-id="<%= ingredients[requiredIngredients[4]].id %>"><%= ingredients[requiredIngredients[4]].name %></p>
            </div>

            <div id="draggable-ingredient6">
                <p class="draggable" draggable="true" style="margin: 10px;" data-id="<%= ingredients[requiredIngredients[5]].id %>"><%= ingredients[requiredIngredients[5]].name %></p>
            </div>

            <div id="draggable-ingredient7">
                <p class="draggable" draggable="true" style="margin: 10px; " data-id="<%= ingredients[requiredIngredients[6]].id %>"><%= ingredients[requiredIngredients[6]].name %></p>
            </div>

            <div id="draggable-ingredient8">
                <p class="draggable" draggable="true" style="margin: 10px;" data-id="<%= ingredients[requiredIngredients[7]].id %>"><%= ingredients[requiredIngredients[7]].name %></p>
            </div>

            <div id="draggable-ingredient9">
                <p class="draggable" draggable="true" style="margin: 10px; " data-id="<%= ingredients[28].id %>"><%= ingredients[28].name %></p>
            </div>
        </section>
        <%- include('footer.ejs')%>

        <script src="../js/script.js"></script>
    </body>
</html>