<!DOCTYPE html>
<html>
    <style>
        #draggable-ingredient1, #draggable-ingredient2, #draggable-ingredient3 {
            position: absolute;
            z-index: 9;
            background-color: aliceblue;
            text-align: center;
            border: 1px solid black;
        }
    </style>
    <head>
        <title>Add the necessary ingredients for: <%= recipe %> to the mixing bowl</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <%- include('header.ejs')%>
        <h1>Get Ingredients</h1>

        <h2>Available Ingredients</h2>
                
        <section>
            <div class="dropzone" id="mixingBowl" style="position: relative; display: inline-block;">
                <img src="/images/mixing.gif" alt="Mixing Bowl Image" style="display: block;">
            </div>

            <div id="draggable-ingredient1">
                <p class="draggable" draggable="true" data-id="<%= ingredients[0].id %>"><%= ingredients[0].name %></p>
            </div>

            <div id="draggable-ingredient2">
                <p class="draggable" draggable="true" data-id="<%= ingredients[1].id %>"><%= ingredients[1].name %></p>
            </div>

            <div id="draggable-ingredient3">
                <p class="draggable" draggable="true" data-id="<%= ingredients[2].id %>"><%= ingredients[2].name %></p>
            </div>

            <div id="draggable-ingredient4">
                <p class="draggable" draggable="true" data-id="<%= ingredients[3].id %>"><%= ingredients[3].name %></p>
            </div>

            <div id="draggable-ingredient5">
                <p class="draggable" draggable="true" data-id="<%= ingredients[4].id %>"><%= ingredients[4].name %></p>
            </div>

            <div id="draggable-ingredient6">
                <p class="draggable" draggable="true" data-id="<%= ingredients[5].id %>"><%= ingredients[5].name %></p>
            </div>

            <div id="draggable-ingredient7">
                <p class="draggable" draggable="true" data-id="<%= ingredients[6].id %>"><%= ingredients[6].name %></p>
            </div>

            <div id="draggable-ingredient8">
                <p class="draggable" draggable="true" data-id="<%= ingredients[7].id %>"><%= ingredients[7].name %></p>
            </div>
        </section>

        <script src="../js/script.js"></script>
        <%- include('footer.ejs')%>
    </body>
</html>